* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "top-box"
  "box-1 box-2 box-3"
  "footer";
}

#top-box {
  grid-area: top-box;
  align-self: center;
}

.img-box {
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

}
#box-1 {
  grid-area: box-1;
  align-self: center;
}

#box-2 {
  grid-area: box-2;
  align-self: center;
}

#box-3 {
  grid-area: box-3;
  align-self: center;
}

#footer {
  grid-area: footer;
}

@media screen and (min-width: 736px)
{
  #container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "top-box top-box top-box"
  "box-1 box-2 box-3"
  "footer footer footer";
  }
}
